<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161360306984-k79n7vspukt86prg6cevbmvovdgatkam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161360306984-k79n7vspukt86prg6cevbmvovdgatkam</string>
	<key>API_KEY</key>
	<string>AIzaSyA_CMR66VuXg_wUQRhwZqJg5XKn7wQate4</string>
	<key>GCM_SENDER_ID</key>
	<string>161360306984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Abdulkadircevik.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-c4624</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-c4624.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161360306984:ios:30dfff86d0ad9cd5f0661d</string>
</dict>
</plist>